.dot-game-controls {

  width: 100%;

  min-height: 110px;
  border: 2px solid black;

  $left-margin : 20px;

  &__score {
    margin-left: $left-margin;
    margin-bottom: unset;
  }

  &__speed-control {
    margin-left: $left-margin;
    -webkit-appearance: none;
    background: $black;
    height: 2px;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 4px solid black;
      margin-top: 6px;
      box-shadow: 0px -6px $black;
    }

  }

  &__speed-control-label {
    display: block;
    margin-left: $left-margin;
    margin-bottom: 20px;
    font-size: 12px;
  }

}

