.TheVirus_controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: red;
  button {
    font-size: 7vmin;
    margin-top: 5vh;
    margin-bottom: 1vh;
    align-self: center;
    img {
      width: 70px;
    }
  }

  p {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .music-info {
    color: white;
    a {
      &:link {
        color: red;
      }
      &:visited {
        color: red;
      }
      &:hover {
        color: white;
      }
      &:active {
        color: gray;
      }
    }
  }

  .title {
    font-size: 12vmin;
    margin-top: 5vh;
  }

  .instructions {
    margin-bottom: 1rem;
    color: white;
  }
}

@media only screen and (max-height: 800px) {
  .TheVirus_controls {
    .title {
      margin-top: 0;
    }
  }
}

