.controls {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  width: 100%;
  color: red;
  button {
    font-size: 10vmin;
    margin-top: 1rem;
    align-self: center;
  }

  .title {
    font-size: 12vmin;
  }

  .instructions {
    font-size: 3vmin;
    margin-left: 20vmin;
    margin-right: 20vmin;
    margin-bottom: 2rem;
    color: white;
  }
}