.header {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;

  button {
    padding: 5px;
    color: white;
    border-color: gray;
    background: transparent;
    margin: 10px;
    font-size: 2vw;

    img {
      width: 7vw;
      height: 7vw;
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
      button {
        img {
          width: 5vh;
          height: 5vh;
        }
      }
  }
}

@media only screen and (max-height: 640px) {
  .header {
    button {
      img {
        width: 2vw;
        height: 2vw;
      }
    }
  }
}