@import "colors";
@import "dot-game-canvas";
@import "dot-game-controls";

body {
  background-color: black;
}

.game-wrapper {
  background-color: white;
}

.game-status {
  display: flex;

}
.game-over {
  margin-left: auto;
  margin-right: auto;
  color: red;
}

