@import "colors";
@import "dot-game-controls";

body {
  background-color: black;
  color: white;
}

.game-wrapper {
  background-color: black;
}

.game-status {
  display: flex;

}
.game-over {
  margin-left: auto;
  margin-right: auto;
  color: red;
}

#viruses {
  display:flex;
  justify-content: space-between;
  img {
    margin: 20px;
  }
}



