@import 'html';
@import 'header';
@import 'score';
@import 'game-wrapper';
@import 'ui-wrapper';
@import 'controls';
@import 'virus';
@import 'game-status';
body {
  background-color: black;
  color: white;
  font-size: xx-large;
  margin: 0 !important;
  padding: 0 !important;
}

.game-over {
  margin-left: auto;
  margin-right: auto;
  color: red;
}





