.TheVirus_virus {
  text-align: center;
  margin-top: 4vh;

  img {
    width: 13vw;
  }
}

@media only screen and (min-height: 640px) {
  .TheVirus_virus {
    img {
      width: 10vh;
    }
  }
}

@media only screen and (min-width: 800px) {
  .TheVirus_virus {
    img {
      width: 10vw;
    }
  }
}

@media only screen and (max-width: 568px) {
  .TheVirus_virus {
    img {
      width: 10vh;
    }
  }
}