<audio id="sound" loop>
    <source src="../audio/Guns-in-Dm.m4a" type="audio/mp4">
</audio>
<secton id="ui-wrapper">
    <section class="header">
        <div class="score">
            <div>
                <div>Score</div>
                <div id="score">0</div>
            </div>
            <div>
                <div>High Score</div>
                <div id="high-score">&nbsp;</div>
            </div>
        </div>
        <button id="sound-toggle-button"
                type="button"
                onclick="TheVirus.toggleAudio(this)"></button>
    </section>
    <secton id="game-status" class="game-status" style="display: none;">
        <h2 id="game-over" class="game-over" style="display: none;">Game Over</h2>
    </secton>
    <secton id="controls" class="controls">
        <span class="title">The Virus</span>
        <p>Music by <a href="http://www.krystisubieta.com/">KRYSTI SUBIETA</a></p>
        <span class="instructions">Destroy falling viruses by clicking on them before they infect you.</span>
        <button id="start-button" type="button" onclick="TheVirus.init();">Start</button>
        <div class="virus">
            <img id="virus0" src="../svg-to-png/viruses/theVirus_blue-400w.png">
            <img id="virus1" src="../svg-to-png/viruses/theVirus_green-400w.png">
            <img id="virus2" src="../svg-to-png/viruses/theVirus_ice-400w.png">
            <img id="virus3" src="../svg-to-png/viruses/theVirus_purple2-400w.png">
            <img id="virus4" src="../svg-to-png/viruses/theVirus_purpleCartoon-400w.png">
            <img id="virus5" src="../svg-to-png/viruses/theVirus_red2-400w.png">
            <img id="virus6" src="../svg-to-png/viruses/theVirus_red-400w.png">
            <img id="virus7" src="../svg-to-png/viruses/theVirus_yellow-400w.png">
        </div>
    </secton>
</secton>

<section class="game-wrapper">
    <canvas class="canvas" id="canvas" onmousedown="TheVirus.handleClick()"></canvas>
</section>